<footer>
    <nav class="bottom-bar w-100 d-flex align-items-center">
        <div class="container-fluid d-flex align-items-center justify-content-around">
            <a class="btn d-flex flex-column position-relative" href="#">
                <img alt="accueil" class="img-bottom-bar" th:src="@{../../static/assets/img/accueil.png}">
                <span class="label-bottom-bar">Accueil</span>
                <div class="bottom-bar-pill">0</div>
            </a>
            <a class="btn d-flex flex-column" href="#">
                <img th:src="@{../../static/assets/img/search.png}" alt="loupe" class="img-bottom-bar">
                <span class="label-bottom-bar">Search</span>
            </a>
            <a class="btn d-flex flex-column position-relative" href="#">
                <span class="icon">
                    <img alt="livre" class="img-bottom-bar" th:src="@{./../static/assets/img/book.png}">
                </span>
                <span class="label-bottom-bar">Savoir +</span>
                <div class="bottom-bar-pill">0</div>
            </a>
            <a class="btn d-flex flex-column" href="#">
                <img alt="bouton+" class="img-bottom-bar" th:src="@{../../static/assets/img/plus.png}">
                <span class="label-bottom-bar">More</span>
            </a>
        </div>
    </nav>
</footer>
